@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653056389278') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinlangweibo:before {
  content: "\f01af";
}

.icon-9:before {
  content: "\f0034";
}

.icon-8:before {
  content: "\f0035";
}

.icon-7:before {
  content: "\f0036";
}

.icon-6:before {
  content: "\f0037";
}

.icon-5:before {
  content: "\f0038";
}

.icon-4:before {
  content: "\f0039";
}

.icon-3:before {
  content: "\f003a";
}

.icon-2:before {
  content: "\f003b";
}

.icon-1:before {
  content: "\f003c";
}

.icon-geren:before {
  content: "\e642";
}

.icon-youxitianchong:before {
  content: "\e6b5";
}

.icon-biaoqing:before {
  content: "\f01ef";
}

.icon-faweiboxie:before {
  content: "\e604";
}

.icon-weibo:before {
  content: "\e635";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-icmore:before {
  content: "\e62f";
}

.icon-quanbu:before {
  content: "\e664";
}

.icon-ai250:before {
  content: "\e6ee";
}

.icon-didian:before {
  content: "\e605";
}

.icon-right-1-copy:before {
  content: "\e61f";
}

.icon-shang:before {
  content: "\e63c";
}

.icon-zuo:before {
  content: "\e63d";
}

.icon-image:before {
  content: "\e626";
}

.icon-zhuanfa:before {
  content: "\e628";
}

.icon-haoyou:before {
  content: "\e618";
}

.icon-tidaowode:before {
  content: "\e684";
}

.icon-yueliang:before {
  content: "\e6b8";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-zhiding:before {
  content: "\eb16";
}

.icon-xinhao:before {
  content: "\e62d";
}

.icon-renzheng:before {
  content: "\e6a8";
}

.icon-shuaxin:before {
  content: "\e627";
}

.icon-kefu:before {
  content: "\e665";
}

.icon-haoyou1:before {
  content: "\e60c";
}

.icon-weibo1:before {
  content: "\e666";
}

.icon-pinglun:before {
  content: "\e651";
}

.icon-banquan:before {
  content: "\e71b";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-good:before {
  content: "\e62a";
}

.icon-shouye:before {
  content: "\e8c6";
}

.icon-jubao:before {
  content: "\e607";
}

.icon-remen:before {
  content: "\e601";
}

.icon-V:before {
  content: "\e719";
}

.icon-icon-test:before {
  content: "\e6b2";
}

.icon-geren1:before {
  content: "\e602";
}

.icon-shipin:before {
  content: "\e66f";
}

.icon-ziyuan140:before {
  content: "\e788";
}

.icon-xia:before {
  content: "\e62b";
}

.icon-shandian:before {
  content: "\e614";
}

.icon-huati:before {
  content: "\e703";
}

.icon-sousuo:before {
  content: "\e608";
}

.icon-guanbi:before {
  content: "\e603";
}

.icon-dingshirenwu:before {
  content: "\e6a3";
}

.icon-sousuo1:before {
  content: "\e623";
}

.icon-wuzhangai:before {
  content: "\e70d";
}

.icon-sixin:before {
  content: "\e636";
}

.icon-hezuo:before {
  content: "\e734";
}

.icon-chaohua:before {
  content: "\e828";
}

.icon-hezuo1:before {
  content: "\ed10";
}

.icon-shipin1:before {
  content: "\ee17";
}

.icon-tebieguanzhu:before {
  content: "\e609";
}

